<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration</title>
<link rel="stylesheet" href="../static/style/auth.css">
<style>
    .error-message {
        color: red;
    }
</style>
</head>
<body>
    <div class="container">
        <div class="image-section"></div>
        <div class="login-section">
            <form class="login-form" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                    {% for error in field.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endfor %}                                                                                                       
                <input type="submit" value="Зарегистрироваться">
            </form>
            <div class="register-button"><a href="/login">Уже есть аккаунт?</a></div>
        </div>
    </div>
</body>
</html>
