{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/style/addproduct.css">
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/style/addproduct.css">
    <div class="container">
        <h2>Create Product</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="name">Product Name:</label>
                {{ form.name.errors }}
                <input type="text" id="name" name="name" value="{{ form.name.value |default:''}}" maxlength="255" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                {{ form.description.errors }}
                <textarea id="description" name="description" cols="40" rows="10" required>{{ form.description.value |default:'' }}</textarea>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                {{ form.price.errors }}
                <input type="number" id="price" name="price" value="{{ form.price.value |default:'' }}" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                {{ form.category.errors }}
                {{ form.category }}
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                {{ form.location.errors }}
                {{ form.location }}
            </div>
            <div class="form-group">
                <label for="picture">Picture:</label>
                {{ form.image_link.errors }}
                <input type="file" id="picture" name="image_link" required>
            </div>
            <button type="submit">Create Product</button>
        </form>
    </div>

{% endblock %}