{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/style/product.css">
{% endblock %}

{% block content %}

    <!-- Product Section -->
    <div class="product-container">
        {% for product in products %}
        <div class="product">
            <a href="#">
                {% if product.image_link %}
                    <img src="../../product_images/{{ product.image_link }}" alt="{{ product.name }}" width="250">
                {% comment %} <img src="../../product_images/{{ product.image_link }}" alt="{{ product.name }}" width="300" height="300"> {% endcomment %}
                {% else %}
                    <img src="../static/images/default-product.jpg" width="300" alt="{{ product.name }}">
                {% endif %}
            </a>
            <p class="product-name">{{ product.name }} | {{product.quantity}} шт. </p>
            <p class="product-description">{{ product.description }}</p>
            <p class="product-price">{{ product.price }} тг</p>

            {% if user.id != product.owner_id %}
            <a class="btn btn-success purchase_product" data-id={{product.id}} href="{% url 'purchase_product' pk=product.pk %}">Купить</a>
            {% endif %}
        </div>
        {% empty %}
            Нет доступных продуктов
        {% endfor %}
    </div>

{% endblock %}
