<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="../static/style/profile.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-left">
            <a href="{% url 'index' %}">
                <img src="../static/images/eco-logo.png" alt="Logo" class="logo">
            </a>
        </div>
        <div class="navbar-center">
            <div class="search-container">
                <input type="text" class="search-bar" placeholder="Search">
                <img src="../static/images/search-icon.png" alt="Search" class="search-icon">
            </div>
        </div>
        <div class="navbar-right">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">{{ user.username }}</a>
                <a href="/auth/logout"><img src="../static/images/logout-icon.png" width="30" alt="Logout" class="icon"></a>
            {% else %}
                <p>Авторизоваться</p>
                <a href="/login"><img src="../static/images/user-icon.png" alt="User" class="icon"></a>
            {% endif %}
            <img src="../static/images/basket-icon.png" alt="Basket" class="icon">
        </div>
    </nav>

    <div class="navigation">
        <ul>
            <li><a href="#">Новинки!</a></li>
            <li><a href="#">Одежда</a></li>
            <li><a href="#">Банные</a></li>
            <li><a href="#">Постельные</a></li>
            <li><a href="#">Для Дома</a></li>
            <li><a href="#">Мебель</a></li>
            <li><a href="#">Обувь</a></li>
            <li><a href="#">Аксессуары</a></li>
        </ul>
    </div>


    <div class="profile">
        <div class="left-side">
            <div class="profile-container">
                <div class="profile-picture">
                    <img src="../static/images/pfp.jpg" alt="Profile Picture">
                    <button class="change-pfp-button">Change</button>
                </div>
            </div>
            <div class="profile-info">
                <p><input type="text" class="input-field" value="{{user.username}}" disabled></p>
                <p><input type="text" class="input-field" value="Sanzhar" disabled></p>
                <p><input type="text" class="input-field" value="Yermek" disabled></p>
                <p><input type="text" class="input-field" value="21" disabled></p>
                <p><input type="text" class="input-field" value="Male" disabled></p>
                <p><input type="text" class="input-field" value="123 Main Street, City, Country" disabled></p>
                <!-- Add more information as needed -->
            </div>
        </div>
        <div class="right-side">
            <div class="my-products">
                <h2>My Products</h2>
                <!-- List your products here -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function(d, m){
            var kommunicateSettings = 
                {"appId":"31f9fde9613e02a286b26865cc67d4969","popupWidget":true,"automaticChatOpenOnNavigation":true};
            var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
            window.kommunicate = m; m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
    </script>
</body>
</html>
