{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/style/profile.css">
{% endblock %}

{% block content %}
    <script src="../static/js/reg.js"></script>
    <div class="profile">
        <div class="left-side">
            <div class="profile-container">
                <div class="profile-picture">
                    <img id="profile-img" src="../static/images/pfp.jpg" alt="Profile Picture">
                    <input type="file" id="file-input" style="display: none;">
                    <button id="change-pfp-button">Change</button>
                </div>
            </div>
            
            <div class="profile-info">
                <p><input type="text" class="input-field" value="{{user.username}}" disabled></p>
                <p><input type="text" class="input-field" value="Sanzhar" disabled></p>
                <p><input type="text" class="input-field" value="Yermek" disabled></p>
                <p><input type="text" class="input-field" value="21" disabled></p>
                <p><input type="text" class="input-field" value="Male" disabled></p>
                <p><input type="text" class="input-field" value="123 Main Street, City, Country" disabled></p>
                <!-- Add more information as needed -->
            </div>
        </div>
        <div class="right-side">
            <div class="my-products">
                <h2>My Products</h2>
                <a href="{% url 'add_product' %}" class="add-product-link"><i class="fa-solid fa-plus"></i></a>
            </div>
            

            <div class="product-container">
                {% for product in products %}
                <div class="product">
                    <a href="#">
                        {% if product.image_link %} 
                            <img src="../../product_images/{{ product.image_link }}" alt="{{ product.name }}" width="250">
                        {% comment %} <img src="{{ product.image_link }}" alt="{{ product.name }}"> {% endcomment %}
                        {% else %}
                            <img src="../static/images/default-product.jpg" width="300" alt="{{ product.name }}">
                        {% endif %}
                    </a>
                    <p class="product-name">{{ product.name }}</p>
                    <p class="product-description">{{ product.description }}</p>
                    <p class="product-price">{{ product.price }} тг</p>
                    <a class="btn btn-danger" href="{% url 'delete_product' pk=product.pk %}">Удалить</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
