body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.green-block {
    background-color: #658C4A;
    color: white;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0em;
}

.navbar {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px; /* Adjust as needed */
}

.search-bar {
    width: 300px; /* Adjust as needed */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.navbar-right .icon {
    margin-left: 10px;
}

.navigation {
    text-align: center;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.search-container {
    position: relative;
}

.search-bar {
    width: 500px; /* Adjust width as needed */
    padding: 8px 30px 8px 10px; /* Adjust padding to create space for icon */
    border: 1px solid #ccc; /* Add a subtle border */
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    height: 10px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.navbar-left, .navbar-right {
    padding: 0 30px; /* Add padding to both left and right sides */
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
    transition: transform 0.3s ease; /* Smooth transition */
}

.product:hover {
    transform: translateY(-10px); /* Move product up on hover */
}

.product-name{
    font-weight: bold;
}

/* single_product.css */
.single-product{
    width: 40%;
}
.single-product-container {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    padding: 20px; /* Add padding for spacing */
}

.product-image {
    flex: 1; /* Let the image take 1/3 of the container */
    margin-right: 20px; /* Add some space between image and details */
}

.product-details {
    flex: 2; /* Let the details take 2/3 of the container */
}

.product-details h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.product-details p {
    margin: 5px 0;
}

.product-price {
    font-weight: bold;
    color: #007bff;
}